<html>

<head>
	<title>NotSoSecure Banking</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<script type="text/javascript" src="./js/bootstrap.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a style="margin-left: 20px;" class="navbar-brand" href="/index">NotSoSecureBank</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0"
				style="margin-right: 20px;"  id="rightNavItems">
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
			</ul>
		</div>
	</nav>
	<div class="card border-0 text-center" style="margin-top: 200px;">
		<div class="card-body">
			<h2 class="card-title">NotSoSecure Banking</h2>
			<br />
			<p class="card-text">Manage your banking with us</p>
			<br />
		</div>
	</div>
</body>

</html>